<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendancemanagementsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".teacher_notice"></activity>
        <activity android:name=".teacher_view" />
        <activity android:name=".teacher_marks" />
        <activity android:name=".teacher_attendance" />
        <activity android:name=".parents_notice" />
        <activity android:name=".parents_marks" />
        <activity android:name=".parents_attendance" />
        <activity android:name=".student_about" />
        <activity android:name=".student_view" />
        <activity android:name=".student_course" />
        <activity android:name=".student_attendance" />
        <activity android:name=".parents_home" />
        <activity android:name=".teacher_home" />
        <activity android:name=".student_home" />
        <activity android:name=".registation" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>